# Docker related
Docker
Docker/
dockerfiles/
**/*Dockerfile*
**/.dockerignore
**/docker-compose.yml
**/docker-compose.prod.yml
**/rebuild*.sh

Changelog*.rst
README*.rst
AUTHORS*.txt
.gitlab-ci*.yml

**/.coverage
**/celerybeat-schedule
**/.pytest_cache
**/__pycache__
**/*.pyc

assets/
**/node_modules
**/build
**/bower_components
**/.git

**/media
